@import "tailwindcss";
@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Regular (400) */
@font-face {
  font-family: "Roboto";
  src:
    url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Bold (700) */
@font-face {
  font-family: "Roboto";
  src:
    url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
    url("/assets/fonts/roboto-v29-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto Black (900) */
@font-face {
  font-family: "Roboto";
  src:
    url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
    url("/assets/fonts/roboto-v29-latin-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Regular (400) */
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Medium (500) */
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Open Sans SemiBold (600) */
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Bold (700) */
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Open Sans ExtraBold (800) */
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans-v40-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* -------------------- Inter (normal + italic 100–900) -------------------- */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-100-normal.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-100-italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-200-normal.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-200-italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-300-normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-300-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-500-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-600-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-700-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-800-italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-900-normal.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-latin-900-italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-primary: #040404;
  --color-primary-foreground: #ffffff;
  --color-secondary: #404040;
  --color-tertiary: #4E4B66;
  --color-accent: #e329b0;
  --color-accent-foreground: #ffffff;
  --color-accent-secondary: #92038b;
  --color-accent-tertiary: #f1f1f4;
  --color-border: #858585;

  --text-25px: 1.5625rem;

  --radius-primary: 16px;
  --radius-secondary: 40px;
  --spacing-p: 150%;
  --spacing-h: 120%;

  --breakpoint-xs: 26.5rem;
 --breakpoint-2xl: 100rem;

  --spacing-section: clamp(3rem, 7.82vw, 6.25rem);

  --font-bebas:
    "Bebas Neue", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-roboto:
    "Roboto", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif;
  --font-sans:
    "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter:
    "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

  --animate-move-to-left: move-to-left 30s infinite linear;
  --animate-move-to-right: move-to-right 30s infinite linear;
  --animate-move-to-top: move-to-top 30s infinite linear;

}

  @keyframes move-to-top {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  @keyframes move-to-left {
    from {
      translate: 0;
    }

    to {
      translate: -100%;
    }
  }

  @keyframes move-to-right {
    from {
      translate: 0;
    }

    to {
      translate: 100%;
    }
  }

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Pause animations on container hover */
.animation-stop:active  {
  animation-play-state: paused !important; /* !important to override any inline styles if needed */
}


/* Pause animations on container hover */
.animation-stop:hover ,
.animation-stop:hover {
  animation-play-state: paused !important; /* !important to override any inline styles if needed */
}

/* Optional: Also pause on focus for better accessibility (keyboard navigation) */
.animation-stop:focus-within ,
.animation-stop:focus-within {
  animation-play-state: paused !important;
}

.animate-pause-hover-sib:hover ~ .animate-pause-hover-sib{
  animation-play-state: paused ;
}

.animate-pause-hover-parent:hover *{
  animation-play-state: paused ;
}


.animate-pause-hover:hover{
  animation-play-state: paused ;
}

.mask-bg-3{
  mask-image: linear-gradient(to right,transparent, #000 3% 97%, transparent);
}

.mask-bg-3-vertical{
  /* mask-image: linear-gradient(to bottom,transparent, #000 3% 97%, transparent); */
 mask-image: linear-gradient(to bottom,transparent, #000 3% 97%, transparent);
}
