---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import heroBg from "@assets/images/bg/hero-bg.png";
import heroBlur from "@assets/images/bg/hero-bg-blur.webp";

import { Picture } from "astro:assets";
import { getBlurStyle } from "@utils/imageOptimization";

const heroBlurStyle = getBlurStyle(heroBlur.src);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout preloadedImage={heroBg}>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1426">
    <div class="cs-container">
      <div class="cs-content">
        <h1
          class="relative w-full max-w-[913px] text-center font-bebas text-[clamp(2.4375rem,6.4vw,6rem)] leading-[120%] font-normal tracking-normal text-pretty text-primary"
        >
          Hire the Top 1% of Virtual Assistants Who Build Businesses
        </h1>

        <p
          class="max-w-[clamp(29rem, 60vw, 38.785rem)] mx-auto mt-0 mb-8 w-full text-center font-roboto text-[clamp(1rem,1.95vw,1.25rem)] leading-[1.5em] font-normal tracking-normal text-secondary"
        >
          Hire business-building virtual assistants in 21 days or less and save
          up to 80% on payroll.
        </p>
        <div class="cs-button-group">
          <a
            href=""
            class:list={[
              "relative m-0 inline-block min-w-50 overflow-clip rounded-xl border-2 border-primary bg-transparent px-6 py-0 text-center leading-[clamp(2.875rem,5.5vw,3.5rem)] font-bold text-primary decoration-0 transition-colors duration-300 hover:text-accent-foreground",
              "before:absolute before:-inset-1 before:-translate-x-51 before:rounded-xl before:bg-accent before:transition-transform before:duration-300 before:ease-out hover:before:translate-x-0",
            ]}
          >
            <span class="relative z-100">Hire Now</span>
          </a>
        </div>
      </div>
    </div>

    <Picture
      src={heroBg}
      style={heroBlurStyle}
      class:list={"absolute inset-0 object-cover"}
      formats={["avif", "webp"]}
      alt="blurred circle side by side"
      pictureAttributes={{
        class: "h-full w-full block absolute top-0 left-0 -z-2",
      }}
    />
  </section>
</Layout>

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-1426 {
      /* Centers button */
      text-align: center;
      /* 200px - 300px - leaving extra space for the navigation */
      padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
      /* prevents the topper line from causing an overflow */
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-1426 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
    #hero-1426 .cs-content {
      width: 100%;
      max-width: 39.375rem;
    }
    #hero-1426 .cs-button-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #hero-1426 .cs-background:before {
      opacity: 0.72;
    }
  }
</style>
